################################################################################
# Copyright (c) 2015 Blaine Rister et al., see LICENSE for details.
################################################################################
# Files to be ignored by git.
################################################################################

*.o
*.nii
*.DS_Store
*.png

build
build/*
debug
debug/*
scripts
scripts/*
*DEBUG*
